<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.ssm.mapper.CarouselMapper">
    <select id="selectCarAll" resultType="com.ssm.entity.Carousel">
        select * from carousel
    </select>
    <select id="selectCarById" resultType="com.ssm.entity.Carousel">
        select * from carousel where id=#{id}
    </select>
    <insert id="addCarousel" parameterType="com.ssm.entity.Carousel">
        insert into carousel(id, title, image_url, link_url, sort_order,enabled)
        values(#{id}, #{title}, #{image_url}, #{link_url}, #{sort_order},#{enabled})
    </insert>
    <update id="updateCarouselById" parameterType="com.ssm.entity.Carousel">
        update carousel set title=#{title},image_url=#{image_url},link_url=#{link_url},sort_order=#{sort_order},enabled=#{enabled} where id=#{id}
    </update>
    <delete id="deleteCarouselById" parameterType="String">
        delete from carousel where id=#{id}
    </delete>
    <select id="selectCarMapById" resultMap="CarouselResult">
        SELECT * FROM carousel WHERE id = #{id}
    </select>
    <select id="selectCarMapAll" resultType="com.ssm.entity.Carousel">
        SELECT id, title, image_url, link_url, sort_order,enabled
        FROM carousel
    </select>
    <resultMap  type="com.ssm.entity.Carousel" id="CarouselResult">
        <id column="id" property="id"/>
        <result column="title" property="title"></result>
        <result column="image_url" property="image_url"></result>
        <result column="link_url" property="link_url"></result>
        <result column="sort_order" property="sort_order"></result>
        <result column="enabled" property="enabled"></result>
    </resultMap>
    </mapper>


