<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.PartTimeJobMapper">
  <!-- <select id="selectPartTimeJobAll" resultType="com.ssm.entity.PartTimeJob">
        select * from partTimeJob
    </select>
    <select id="selectPartTimeJobById" resultType="com.ssm.entity.PartTimeJob">
        select * from partTimeJob where id=#{id}
    </select>
    <insert id="addPartTimeJob" parameterType="com.ssm.entity.PartTimeJob">
        insert into partTimeJob(id, title, contact, student_name, location,salary)
        values(#{id}, #{title}, #{contact}, #{studentName}, #{location},#{salary})
    </insert>
    <update id="updatePartTimeJobById" parameterType="com.ssm.entity.PartTimeJob">
        update partTimeJob set title=#{title},contact=#{contact},salary =#{salary},student_name=#{studentName},location=#{location} where id=#{id}


    </update>
    <delete id="deletePartTimeJobById" parameterType="String">
        delete  from partTimeJob where id=#{id}
    </delete>
    <select id="selectPartTimeJobMapById" resultMap="PartTimeJobResult">
        SELECT * FROM partTimeJob WHERE id = #{id}
    </select>
    <select id="selectPartTimeJobMapAll" resultType="com.ssm.entity.PartTimeJob">
        SELECT id, title, contact, student_name, location,salary
        FROM partTimeJob
    </select>
    <resultMap  type="com.ssm.entity.PartTimeJob" id="PartTimeJobResult">
        <id column="id" property="id"/>
        <result column="title" property="title"></result>
        <result column="contact" property="contact"></result>
        <result column="location" property="location"></result>
        <result column="student_name" property="student_name"></result>
        <result column="salary" property="salary"></result>
    </resultMap> -->
 <select id="findAll" resultType="com.ssm.entity.PartTimeJob">
  SELECT * FROM partTimeJob
  </select>
</mapper>